.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.nav {
  padding: 16px 18px;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
}

.nav img {
  width: 60px;
}

.navButtonsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 24px;
  right: 64px;
}

.navButton {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 18px;
}

.navButton:hover {
  text-decoration: underline;
}

.loginButton {
  background: var(--primary);
  color: #ffffff;
  padding: 4px 24px;
  border-radius: 4px;
}

.loginButton:hover {
  text-decoration: none;
  background: var(--primary-light);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px 64px;
  margin: 0;
  gap: 20px;
}

.banner img {
  width: 40vw;
}

.bannerText h1 {
  font-size: 42px;
}

.bannerText button {
  background: var(--primary);
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
}

.bannerText button:hover {
  background: var(--primary-light);
}

.whySection {
  background: var(--primary);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px; /* Adjust the padding values as needed */
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for visual separation */
  margin-bottom: 20px; /* Add some bottom margin to create space between sections */
}

.content {
  max-width: 90vw;
  text-align: center;
}

.content h1 {
  font-size: 41px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add some bottom margin to create spacing between the heading and paragraph */
}

.content p {
  font-size: 20px;
}


.HowSectionH1 {
  text-align: center;
  padding-top: 50px;
  font-size: 22px;
  width: 100vw;
}

.HowSection {
  height: 100vh;
  width: 100vw;
}

.resizedImage {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 300px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.itemContent {
  margin-top: 10px;
}

.lastImage {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 250px;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}


@media only screen and (max-width: 412px) {
  .whySection {
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Adjust padding as needed */
  }

  .whySection .content {
    max-width: 100%; /* Adjust max-width as needed */
  }

  .container {
    grid-template-columns: 1fr;
    justify-items: center; /* Center items horizontally */
  }

  .group {
    width: 100%; /* Set the width to 100% */
    max-width: 300px; /* Limit the max width of each group */
  }
}
  





