.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.headerMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hamburgerMenuButton {
    background: var(--primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: #ffffff;
    font-size: 28px;
    border-radius: 50%;
}

.hamburgerMenuButton:hover {
    background: var(--primary-light);
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo img {
    width: 60px;
}

.logo p {
    font-size: 22px;
    font-weight: 600;
}

.pointsBox {
    background: #ffffff;
    padding: 4px 24px;
    border-radius: 8px;
    font-weight: 500;

}

.divider {
    height: 2px;
    width: 40vw;
    min-width: 200px;
    background-color: #ababab;
}

.stretchViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}